
<p-chips [(ngModel)]="selectedIngredients" 
         (onAdd)="onIngredientSelected($event)" 
         (onRemove)="onIngredientDeselected($event)">
</p-chips>


<p-table [value]="ingredients" selectionMode="multiple" [(selection)]="selectedIngredients" dataKey="name" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th pSelectableRowCheckbox></th>
      <th>Ingredient</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ingredient>
    <tr [pSelectableRow]="ingredient">
      <td pSelectableRowCheckbox></td>
      <td>{{ ingredient.name }}</td>
    </tr>
  </ng-template>
</p-table>
